body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;

}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 0.4;
}
